.tooltip-inner {
    max-width: none!important;
    background: #F1B7BA none repeat scroll 0% 0%!important;
    color: #9D0D14!important;
    display: inline-block!important;
    border-radius: 0!important;
}
.tooltip-arrow {
    border-top-color: #F1B7BA !important;
}
label.error {
    color : red;
}
#contents .breadcrumb{
    padding: 0 0;
}

.no_event {
    pointer-events: none;
}
.boder-black {
    background: #000!important;
}
.back-ground {
    background: #FFF!important;
}