
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: outside none none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
	content: none;
}
a {
	background: transparent none repeat scroll 0 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
a:visited, a:hover, a:active, a:focus {
	text-decoration: none;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #cccccc -moz-use-text-color -moz-use-text-color;
	border-image: none;
	border-style: solid none none;
	border-width: 1px 0 0;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
* {
	box-sizing: border-box;
}
ul li {
	list-style: outside none none;
}
body {
	font: 24px/1.6 "Meiryo UI",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"游ゴシック","Yu Gothic","游ゴシック体","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
#header {
	background: #d0111b none repeat scroll 0 0;
	height: 70px;
	left: 0;
	line-height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.titlePage {
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	line-height: 70px;
	margin: 0 35%;
	text-align: center;
	width: 30%;
}
.titlePage.full {
	margin: 0;
	width: 100%;
}
.navHeader {
	height: 70px;
	line-height: 70px;
	position: absolute;
	right: 10px;
	text-align: right;
	top: 0;
	width: 30%;
}
.iconMember {
	background: rgba(0, 0, 0, 0) url("../img/icon_member.png") no-repeat scroll 0 center;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
	padding-left: 17px;
  font-size: 19px;
}
.iconLogout {
	background: #970e15 url("../img/icon_logout.png") no-repeat scroll 10px center;
	border-radius: 5px;
	color: #fff !important;
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	line-height: 50px;
	min-height: 50px;
	padding: 0 10px 0 30px;
	text-decoration: none;
	vertical-align: middle;
}
#contents {
	clear: both;
	margin-top: 70px;
	width: 100%;
}
#printContents {
	clear: both;
	width: 100%;
}
.readme {
	border-bottom: 1px solid #ccc;
	display: table;
	padding: 20px 0;
	width: 100%;
  font: 24px/30px;
}
.readme p {
	margin: 0 20px;
}
.titleContent {
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.6;
	margin-left: 20px;
}
.container {
	margin: 20px 20px 86px;
	padding: 0;
	width: auto;
}
.centering {
	text-align: center;
}
.alRight {
	text-align: right;
}
.leftside {
	text-align: left;
}
.rightside {
	margin-top: -10px;
	text-align: right;
}
.flLeft {
	float: left;
}
.flRight {
	float: right;
}
.nolineContent {
	margin: 0 20px;
}
.bgContent {
	background: #e8e8e8 none repeat scroll 0 0;
	border-radius: 7px;
	margin: 0 0 20px;
	padding: 12px 12px 0;
}
.pContent {
	padding: 0;
}
.mb10 {
	margin-bottom: 10px;
}
.noData {
	color: #f00;
	padding: 30px 0 0;
	text-align: center;
}
.note {
	margin-bottom: 10px;
}
#footer {
	bottom: 0;
	clear: both;
	height: 76px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.toolbar {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
	font-size: 20px;
	height: 60px;
	width: 100%;
}
.copyright {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	border-top: 1px solid #ccc;
	color: #333;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	margin: 0 auto;
	text-align: center;
}
.sidr a { font-size: 18px; }
#navSideMenu {
	background: rgba(0, 0, 0, 0) url("../img/btn_side_menu.png") no-repeat scroll 0 0 / 50px 50px;
	display: block;
	height: 50px;
	left: 10px;
	overflow: hidden;
	position: absolute;
	text-indent: -99999px;
	top: 10px;
	width: 50px;
}
.closeSideMenu {
	height: 70px;
	position: relative;
}
#sidrClose {
	background: rgba(0, 0, 0, 0) url("../img/btn_side_menu_close.png") no-repeat scroll 0 0 / 50px 50px;
	display: block;
	height: 50px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	text-indent: -99999px;
	top: 10px;
	width: 50px;
}
.tableList {
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}
.tableList th, .tableList td {
	font-size: 22px;
}
.tableList th {
	background: #696969 none repeat scroll 0 0;
	color: #fff;
	padding: 5px 10px;
}
.tableList td {
	background: #f8f8f8 none repeat scroll 0 0;
	padding: 10px;
}
.tableList tr:nth-of-type(2n+1) td {
	background: #eee none repeat scroll 0 0;
}
.tablePrint {
	border-collapse: collapse;
	margin: 0 0 20px;
	width: 100%;
}
.tablePrint th {
	background: #ccc none repeat scroll 0 0;
	border: 1px solid #999;
	height: 25px;
	line-height: 25px !important;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.tablePrint td {
	border: 1px solid #999;
	padding: 4px 10px;
	text-align: center;
}
.tablePrint td.wd15 { width: 15%; }
.tablePrint td.wd20 { width: 20%; }
.tablePrint td.wd30 { width: 30%; }
.tablePrint td.wd35 { width: 35%; }
.tablePrint td.wd40 { width: 40%; }
.tablePrint td.hg140 {
	min-height: 140px;
}
.tablePrint.bgWhite td {
	background: #fff none repeat scroll 0 0;
}
.mini td {
	box-sizing: content-box;
	height: 30px;
}
.vMiddle {
	vertical-align: middle;
}
td.tdLeft {
	text-align: left;
}
.pNotesAlll {
	height: 195px !important;
	text-align: left;
}
.breadcrumb {
	margin-bottom: 20px;
	margin-top: 1em;
	overflow: hidden;
	width: 100%;
}
.breadcrumb ul {
	width: 100%;
}
.breadcrumb li {
	background-color: #6a6a6a;
	color: #fff;
	float: left;
	font-size: 17px;
	line-height: 33px;
	position: relative;
	text-align: center;
	width: 33.3333%;
}
.breadcrumb li.active {
	background: #1d6f9d none repeat scroll 0 0;
}
.breadcrumb li::after, .breadcrumb li::before {
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid;
	border-top: 1.5em solid transparent;
	content: "";
	margin-top: -1.5em;
	position: absolute;
	right: -1em;
	top: 50%;
}
.breadcrumb li::after {
	border-left-color: #6a6a6a;
	z-index: 2;
}
.breadcrumb li::before {
	border-left-color: #fff;
	right: -17px;
	z-index: 1;
}
.breadcrumb li.active::after {
	border-left-color: #1d6f9d;
}
.breadcrumb li.active::before {
	border-left-color: #ffffff;
}
.must {
	color: #ff2e39;
	font-size: 24px;
}
.textForm {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #008321;
	border-radius: 10px;
	font-size: 22px;
	height: 38px;
	line-height: 38px;
	max-width: 95%;
	padding: 0 5px;
}
.textFormConf {
	border: 0 none;
	margin-left: 10px;
	padding: 0;
	text-align: center;
	width: auto;
}
.textarea {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #008321;
	border-radius: 10px;
	font-size: 22px;
	height: 76px;
	padding: 0 5px;
	width: 90%;
}
.selectForm {
	-webkit-appearance:none;
	appearance:none;
	-moz-appearance: none;
	background: #fff url("../img/select_arrow.png") no-repeat scroll right center / auto 100%;
	border: 2px solid #008321;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 22px;
	height: 42px;
	line-height: 38px;
	padding: 0 48px 0 5px;
	vertical-align: middle;
}
.formWidthXXS {
	width: 42px;
}
.formWidthXS {
	width: 68px;
}
.formWidthS {
	width: 100px;
}
.formWidthSM {
	width: 150px;
}
.formWidthM {
	width: 238px;
}
.formWidthFull { width: 100%; }
.txtNormal {
	font-weight: normal;
}
.txtExample {
	color: #666;
	font-size: 17px;
	margin-left: 5px;
}
.txtSmall { font-size: 60% !important; }
.txtSub {
	font-size: 80%;
}
.txtLarge {
	font-size: 140%;
}
.txtPrintCheck {
	color: #333;
	font-size: 22px;
	padding-left: 32px;
}
.checkPrint {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.fieldsetRegist {
	position: relative;
}
.titleLegend {
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}
.pContent .titleLegend {
	display: block;
	margin-bottom: 10px;
	padding: 2px 5px;
	width: 100%;
}
.titleLabel {
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
}
.pContent .titleLabel {
	line-height: 1.1;
}
.titleLabelTotal {
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
}
.flexHorizontal .titleLabel {
	line-height: 44px;
}
.totalPrice {
	font-size: 24px;
	margin-right: 5px;
}
.formGroup {
	display: flex;
  display: -ms-flexbox;
}
.pContent .formGroup {
	background: #ccc none repeat scroll 0 0;
	border-radius: 7px;
	margin: 0 10px;
}
.lineTop {
	border-top: 1px solid #999;
}
.lineBottom {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.formItem {
	flex: 1 1 0;
	margin-bottom: 20px;
}
.lineBottom .formItem {
	margin-bottom: 10px;
}
.pContent .formItem {
	background: #eee none repeat scroll 0 0;
	border-radius: 7px;
	margin: 5px;
	text-align: center;
}
.flexRight {
	box-flex: 1; flex: 1; -ms-flex: 1;
	margin-bottom: 20px;
	text-align: right;
}
.flexHorizontal {
	display: flex;
  display: -ms-flexbox;
}
.itemFlex {
	box-flex: 1; flex: 1; -ms-flex: 1;
}
.formItem.initial, .itemFlex.initial { padding: 0 30px 0 0; box-flex: initial; flex: initial; -ms-flex: initial; width: 300px; min-width: 200px; }
.formItem.flx-2, .itemFlex.flx-2 { box-flex: 2; flex: 2; -ms-flex: 2; }
.formItem.flx-2 .textForm, .itemFlex.flx-2 .textForm { width: 85%; }
.formItem.flx-05, .itemFlex.flx-05 { box-flex: 0.5; flex: 0.5; -ms-flex: 0.5; }
.formSearchList .labelRadios { font-size: 20px; line-height: 32px; }
.formSearchList .itemFlex.initial { width: 240px; }
.formSearchList .itemFlex .textForm { width: 410px; }
.txtValue {
	line-height: 42px;
	min-height: 42px;
}
.spcValue {
	display: inline-block;
	margin: 0 10px;
	min-width: 100px;
}
.radioGroup {
}
.radioItem {
	position: relative;
}
.radios {
	left: 0;
	opacity: 0;
	outline: medium none;
	position: absolute;
}
.btnFormSub { margin-right: 5px; padding: 5px 15px; border-radius: 7px; color: #000 !important; background: #ccc; cursor: pointer; float: left; font-size: 20px; font-weight: bold; line-height: 32px; box-shadow: 0 2px 0 #999; }
.labelRadios {
	background: #ccc none repeat scroll 0 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #999;
	box-shadow: 0 2px 0 #999;
	cursor: pointer;
	float: left;
	font-size: 28px;
	line-height: 48px;
	margin: 0 0 2px;
	padding: 5px 15px;
  border-radius: 7px; color: #000 !important;
}
.labelRadios.checked {
	background: #4cd647 none repeat scroll 0 0;
	border-right-color: #41b73c;
	box-shadow: 0 -2px 0 #4cd647;
	color: #fff;
	margin: 2px 0 0;
}
.radioItem:first-child .labelRadios {
	border-left: 0 none;
	border-radius: 7px 0 0 7px;
}
.radioItem:last-child .labelRadios {
	border-radius: 0 7px 7px 0;
	border-right: 0 none;
}
.checks {
	display: none;
}
.labelChecks {
	background: #ccc none repeat scroll 0 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #999;
	box-shadow: 0 2px 0 #999;
	cursor: pointer;
	float: left;
  font-size: 28px;
	line-height: 48px;
	margin: 0 0 2px;
	padding: 5px 15px;
}
.labelChecks.checked {
	background: #4cd647 none repeat scroll 0 0;
	border-right-color: #41b73c;
	box-shadow: 0 -2px 0 #4cd647;
	color: #fff;
	margin: 2px 0 0;
}
.checkItem:first-child .labelChecks {
	border-left: 0 none;
	border-radius: 7px 0 0 7px;
}
.checkItem:last-child .labelChecks {
	border-radius: 0 7px 7px 0;
	border-right: 0 none;
}
.checkItem.checkSingle { border-radius: 7px; display: inline-block; height: 58px; background: #ccc; box-shadow: 0 2px 0 #999; }
.labelSingleCheck {
	float: left;
  font-size: 28px;
	line-height: 58px;
  padding-right: 17px;
	padding-left: 35px;
	position: relative;
}
.labelSingleCheck::before {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #4cd647;
	content: "";
	display: block;
	font-family: "FontAwesome";
	font-size: 20px;
	height: 24px;
	left: 7px;
	line-height: 22px;
	padding-left: 1px;
	position: absolute;
	top: 15px;
	width: 24px;
}
.labelSingleCheck.checked::before {
	content: "";
}
.labelPrintCheck {
	font-size: 16px;
	line-height: 22px;
}
.labelPrintCheck input[type="checkbox"] {
	-moz-appearance: none;
	border: 1px solid #888;
	box-shadow: none;
	height: 20px;
	margin-right: 5px;
	vertical-align: bottom;
	width: 20px;
}
.labelPrintCheck input[type="checkbox"]:checked::before {
	color: #333;
	content: "";
	font-family: "FontAwesome";
	font-size: 17px;
}
.areaPrintCheckImg {
	margin: 0 auto;
	position: relative;
	width: 250px;
}
.itemPrintCheck {
	position: absolute;
	z-index: 20;
}
.itemPrintCheck.FR {
	left: 20px;
	top: -8px;
}
.itemPrintCheck.FL {
	bottom: 8px;
	left: 20px;
}
.itemPrintCheck.RR {
	right: -5px;
	top: -8px;
}
.itemPrintCheck.RL {
	bottom: 8px;
	right: -5px;
}
.itemPrintCheckImg {
	max-width: 100%;
	position: relative;
	z-index: 10;
}
.areaAirCheck {
}
.checkPrint .txtValue {
	line-height: 26px;
	min-height: 26px;
}
.inputFile {
	font-size: 14px;
	line-height: 17px;
}
.commodityBox {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	position: relative;
}
.commodityBox:first-of-type {
	border-top: 0 none;
	padding-top: 0;
}
#warrantyBox {
	display: none;
}
.toggleWarranty {
	display: none;
}
.navBasic {
	margin-top: 30px;
	text-align: center;
}
.ulNavBasic {
	display: table;
	margin: 0 auto;
	width: 720px;
}
.ulNavBasic li {
	display: block;
	float: left;
	min-height: 180px;
	text-align: center;
	width: 240px;
}
.ulNavMainte {
	display: table;
	margin: 0 auto;
	width: 480px;
}
.ulNavMainte li {
	display: block;
	float: left;
	min-height: 180px;
	text-align: center;
	width: 240px;
}
.paging {
	display: table;
	margin: 20px 0 0 auto;
	text-align: center;
}
.ulPaging li {
	display: inline-block;
	float: left;
}
.areaBtn {
	clear: both;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}
.itemLeft {
	display: inline-block;
	margin-right: 15px;
}
.itemRight {
	display: inline-block;
	margin-left: 15px;
}
.btnNavBasic {
	color: #045683;
	display: block;
	font-size: 24px;
	font-weight: bold;
	left: 0;
	line-height: 28px;
	outline: medium none;
	padding-top: 105px;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 240px;
}
.btnNavBasic::before {
	background: #0785ca none repeat scroll 0 0;
	border-radius: 50px;
	box-shadow: 0 3px 0 #001b37;
	color: #fff;
	content: "";
	display: block;
	font-size: 40px;
	font-weight: normal;
	height: 100px;
	left: 70px;
	line-height: 100px;
	position: absolute;
	top: 0;
	width: 100px;
}
.btnNavOther {
	color: #326313 !important;
	display: block;
	font-size: 24px;
	font-weight: bold;
	left: 0;
	line-height: 24px;
	outline: medium none;
	padding-top: 110px;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 240px;
}
.btnNavOther::before {
	background: #4e9d1d none repeat scroll 0 0;
	border-radius: 50px;
	box-shadow: 0 3px 0 #326313;
	color: #fff;
	content: "";
	display: block;
	font-size: 40px;
	font-weight: normal;
	height: 100px;
	left: 70px;
	line-height: 100px;
	position: absolute;
	top: 0;
	width: 100px;
}
.iconCard::before {
	content: "";
	font-family: "FontAwesome";
}
.iconRegistWork::before {
	content: "";
	font-family: "FontAwesome";
}
.iconSearchWork::before {
	content: "";
	font-family: "FontAwesome";
}
.iconMainte::before {
	content: "";
	font-family: "FontAwesome";
}
.iconReserve::before {
	content: "";
	font-family: "FontAwesome";
}
.iconOldCar::before {
	content: "";
	font-family: "FontAwesome";
}
.iconList::before {
	content: "";
	font-family: "FontAwesome";
}
.iconPrint {
	color: #333;
	display: inline-block;
	margin: 10px 20px 0 0;
	text-decoration: none;
}
.iconPrint::before {
	content: "";
	font-family: "FontAwesome";
	margin-right: 5px;
}
.iconClose {
	color: #333;
	display: inline-block;
	margin: 10px 10px 0 0;
	text-decoration: none;
}
.iconClose::before {
	content: "";
	font-family: "FontAwesome";
	margin-right: 5px;
}
.iconXls::before {
	content: "";
	font-family: "FontAwesome";
}
.iconPreview {
	margin-left: 10px;
  font-size: 18px;
}
.iconPreview::before {
	content: "";
	font-family: "FontAwesome";
	margin-right: 5px;
}
.btnBack {
	background: #999 none repeat scroll 0 0;
	border-radius: 7px;
	box-shadow: 0 3px 0 #222;
	color: #fff !important;
	display: block;
	font-weight: bold;
	height: 46px;
	left: 10px;
	line-height: 46px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 7px;
	width: 120px;
}
.btnBack:hover {
	background-color: #ccc;
}
.btnNext {
	background: #008321 none repeat scroll 0 0;
	border-radius: 7px;
	box-shadow: 0 3px 0 #0f3f24;
	color: #fff !important;
	display: block;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	position: absolute;
	right: 10px;
	text-align: center;
	text-decoration: none;
	top: 7px;
	width: 120px;
}
.btnNext:hover {
	background-color: #73ae74;
}
.btnSubmit {
	background: #008321 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 7px;
	box-shadow: 0 3px 0 #0f3f24;
	color: #fff !important;
	display: block;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	width: 120px;
}
.btnSubmit:hover {
	background-color: #73ae74;
}
.btnSubmit.wide {
	width: 220px;
}
.btnSubmit.cR { background: #830007; box-shadow: 0 3px 0 #540005; }
.btnCancel {
	background: #999 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 7px;
	box-shadow: 0 3px 0 #666;
	color: #fff !important;
	display: block;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	width: 120px;
}
.btnCancel:hover {
	background-color: #ccc;
}
.btnSubmit.disabled {
	background: #999 none repeat scroll 0 0;
	box-shadow: 0 3px 0 #666;
	color: #aaa;
}
.btnSubmit.disabled:hover {
	background: #999 none repeat scroll 0 0;
}
.toolbar .btnSubmit {
	position: absolute;
	right: 10px;
	top: 7px;
}
.btnFormTool {
	background: #4cd647 none repeat scroll 0 0;
	border-radius: 7px;
	box-shadow: 0 2px 0 #38732c;
	color: #fff !important;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	margin-left: 5px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
}
.btnFormTool.searchGoods { position: relative; left: 5px; top: -5px; font-weight: normal; text-shadow: none; }
.btnFormTool.large { padding: 5px 15px; box-sizing: content-box; font-size: 20px; line-height: 32px; }
.areaSearch {
	margin: 20px auto;
	text-align: center;
}
.btnSearch {
	background: #4cd647 url("../img/icon_search.png") no-repeat scroll 10px center;
	border-radius: 7px;
	box-shadow: 0 3px 0 #2d6322;
	color: #fff;
	display: block;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	width: 120px;
}
.btnSearch:hover {
	background-color: #47c084;
}
.btnPaging {
	background: #aaa none repeat scroll 0 0;
	border: 1px solid #fff;
	color: #fff !important;
	display: block;
	height: 40px;
	line-height: 36px;
	margin: 0;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
}
li + li .btnPaging {
	border-left: 0 none;
}
.on .btnPaging {
	background: #1d6f9d none repeat scroll 0 0;
}
li:first-child .btnPaging {
	border-radius: 7px 0 0 7px;
}
li:last-child .btnPaging {
	border-radius: 0 7px 7px 0;
}
.btnSet {
	display: flex;
	height: 36px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 7px;
	width: 700px;
}
.btnSet.one {
	width: 150px;
}
.btnTool {
	background: #4e9d1d none repeat scroll 0 0;
	border-radius: 7px;
	box-shadow: 0 3px 0 #2b5f1f;
	color: #fff !important;
	display: block;
	float: left;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	margin: 0 7px;
	text-align: center;
	text-decoration: none;
	width: 150px;
}
.btnTool.off {
	background: #888 none repeat scroll 0 0;
	box-shadow: 0 3px 0 #454545;
	color: #ccc !important;
}
.addCommodity {
	bottom: 120px;
	color: #555 !important;
	cursor: pointer;
	position: absolute;
	right: 0;
	text-align: right;
	text-decoration: none;
	z-index: 20;
}
.addCommodity::before {
	background: #4cd647 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 2px 0 #38732c;
	color: #fff;
	content: "+";
	display: inline-block;
	font: 29px Arial,Helvetica,sans-serif;
	height: 27px;
	margin-right: 5px;
	text-align: center;
	vertical-align: top;
	width: 34px;
}
.removeCommodity {
	color: #555 !important;
	position: absolute;
	right: 0;
	text-align: right;
	text-decoration: none;
	top: 10px;
}
.removeCommodity::before {
	background: #999 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 2px 0 #505051;
	color: #fff;
	content: "-";
	display: inline-block;
	font: 29px Arial,Helvetica,sans-serif;
	height: 27px;
	margin-right: 5px;
	text-align: center;
	vertical-align: bottom;
	width: 34px;
}
.commodityBox {
	display: none;
}
.commodityBox:first-of-type, .commodityBox.on {
	display: block;
}
.btnMemberUsappy, .btnMemberReceivable, .btnMemberEtc {
	background: #1d6f9d none repeat scroll 0 0;
	border-radius: 7px;
	box-shadow: 0 3px 0 #144f70;
	color: #fff !important;
	display: block;
	height: 40px;
	line-height: 40px;
	margin: 10px auto 0;
	text-align: center;
	width: 234px;
}
.btnMemberReceivable {
	background: #dd4207 none repeat scroll 0 0;
	box-shadow: 0 3px 0 #b33506;
}
.btnMemberEtc {
	background: #008321 none repeat scroll 0 0;
	box-shadow: 0 3px 0 #005916;
}
.btnMemberUsappy:hover, .btnMemberReceivable:hover, .btnMemberEtc:hover {
	opacity: 0.8;
}
.onPreview {
	color: #555 !important;
	float: right;
	text-align: right;
	text-decoration: none;
}
.onPreview::before {
	background: #4cd647 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 2px 0 #38732c;
	color: #fff;
	content: "";
	display: inline-block;
	font-family: "FontAwesome";
  font-size: 16px;
	height: 27px;
	line-height: 27px;
	margin-right: 5px;
	text-align: center;
	vertical-align: top;
	width: 34px;
}
.accordionHead {
	display: table;
	position: relative;
	width: 100%;
}
.accordionHead legend {
	float: left;
	width: 50%;
}
.accordion.accClose .accordionHead {
	margin-bottom: 12px;
}
.accordion.accClose .accordionBody {
	display: none;
}
.accordion.accOpen .accordionBody {
	display: block;
}
.toggleAccordion {
	color: #555 !important;
	float: right;
	text-align: right;
	text-decoration: none;
}
.toggleAccordion::before {
	background: #4cd647 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 2px 0 #38732c;
	color: #fff;
	content: "+";
	display: inline-block;
	font: 29px Arial,Helvetica,sans-serif;
	height: 27px;
  line-height: 27px;
	margin-right: 5px;
	text-align: center;
	vertical-align: top;
	width: 34px;
}
.accordion.accOpen .toggleAccordion::before {
	background: #999 none repeat scroll 0 0;
	box-shadow: 0 2px 0 #505051;
	content: "-";
	font-size: 36px;
	line-height: 24px;
}
.flexHead {
	display: table;
	position: relative;
	width: 100%;
}
.flexHead legend {
	float: left;
	width: 50%;
}
.onModal {
	color: #555 !important;
	float: right;
	text-align: right;
	text-decoration: none;
}
.onModal::before {
	background: #4cd647 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 2px 0 #38732c;
	color: #fff;
	content: "";
	display: inline-block;
	font-family: "FontAwesome";
  font-size: 16px;
	height: 27px;
	line-height: 27px;
	margin-right: 5px;
	text-align: center;
	vertical-align: top;
	width: 34px;
}
.modal-dialog {
	width: 90%;
}
.modal-dialog.widthS {
	width: 940px;
}
.close, .close span {
	font-size: 30px;
}
.mt50 {
	margin-top: 50px;
}
.mb0 {
	margin-bottom: 0;
}
.mb5 {
	margin-bottom: 5px;
}
.mb20 {
	margin-bottom: 20px;
}
.pt100 {
	padding-top: 100px;
}
.pt50 {
	padding-top: 50px;
}
.pl10 { padding-left: 10px; }
@page {
	margin: 20px 10px 10px;
}
@media print {
	body {
		font-size: 10px !important;
		line-height: 1.05 !important;
		-webkit-print-color-adjust:exact;
	}
	.printNone {
		display: none;
	}
	.readme {
		padding: 3px 0;
	}
	.titleContent {
		font-size: 10px !important;
		line-height: 1.05 !important;
	}
	.container {
		margin: 3px 10px;
	}
	.pContent .titleLegend {
		font-size: 10px !important;
		margin-bottom: 2px;
	}
	.formItem {
		margin: 3px !important;
	}
	.titleLabel {
		font-size: 10px !important;
		line-height: 1.05 !important;
	}
	.txtValue, .txtSub {
		font-size: 10px !important;
		line-height: 1.05 !important;
		min-height: 10.5px !important;
	}
	.tablePrint {
		margin-bottom: 2px;
	}
	.tablePrint th {
		font-size: 10px !important;
		height: 11px !important;
		line-height: 1.05 !important;
	}
	.mini td {
		font-size: 10px !important;
		height: 11px !important;
		line-height: 1.05 !important;
	}
	.tablePrint p {
		font-size: 10px !important;
		line-height: 1.05 !important;
	}
	.tablePrint td {
		padding: 2px;
		vertical-align: top;
	}
	.tablePrint td.vMiddle {
		vertical-align: middle;
	}
	.tablePrint td .leftside {
		font-size: 10px !important;
		position: absolute;
	}
	.tablePrint td.pNotesAlll {
		height: 66px !important;
		text-align: left !important;
	}
	.checkPrint {
		float: right;
		margin-right: 35px;
	}
	.areaPrintCheckImg {
		width: 150px;
	}
	.pageBreak {
		padding-top: 3px;
	}
	.labelPrintCheck {
		font-size: 10px !important;
		line-height: 1.05 !important;
	}
	.labelPrintCheck input[type="checkbox"] {
		height: 12px;
		width: 12px;
    vertical-align: tpp;
	}
	.itemPrintAir {
		margin-top: 10px;
	}
	.pFlLeft {
		float: left !important;
		margin-right: 20px;
	}
	.itemPrintCheck.FR {
		left: 10px;
	}
	.itemPrintCheck.FL {
		bottom: 0;
		left: 10px;
	}
  .itemPrintCheck.RR { top: 1px; }
}
.bgGray {
	background-color: #e8e8e8;
}
.bgGreen {
	background: #4cd647 none repeat scroll 0 0;
}
.borderRadius {
	border-radius: 10px;
}
.btnBorderRadius {
	border-radius: 3px;
}
.borderGreen {
	border: 2px solid #008321;
}
button {
	color: #ffffff;
	font-weight: bold;
}
label {
	color: #000;
	font-size: 20px;
	padding-left: 3px;
}
.noti {
	color: #fd3a45;
}
.toolTipMsg {
	background: #f1b7ba none repeat scroll 0 0;
	color: #9d0d14;
	display: none;
	font-size: 16px;
	padding: 5px 25px;
	position: absolute;
	right: -5%;
	top: -73%;
}
.toolTipMsg .tooltipArrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-style: solid;
	border-top: 5px solid #f1b7ba;
	border-width: 5px 5px 0;
	bottom: -5px;
	display: block;
	height: 0;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 0;
}
.toolTipMsg .tooltipInner {
	display: block;
}
.invalid {
	border: 2px solid #f76c73;
}
.bgGray {
	background: #cccccc none repeat scroll 0 0;
}
.bgGrayTrans {
	background: #e8e8e8 none repeat scroll 0 0;
}
#frmLogin {
	margin-top: 1.5em;
}
#frmLogin table {
	text-align: center;
	width: 100%;
}
.frmContent {
	border-collapse: separate;
	border-spacing: 2px;
	display: table;
	margin: 0 auto;
	width: 700px;
}
.modal-body .frmContent {
	width: 100%;
}
.frmContent .row {
	display: table-row;
	margin-bottom: 2px;
}
.frmContent .row .cell {
	display: table-cell;
	font-weight: normal;
	padding: 5px 40px 5px 5px;
	position: relative;
}
.frmContent .row .frmLabel {
	font-weight: bold;
	padding: 0 30px;
	text-align: center;
}
.frmContent input[type="text"], input[type="password"] {
	color: #151515;
	font-size: 18px;
	height: 37px;
	padding: 0 10px;
	width: 100%;
}
.frmContent button.btnLogin {
	border: medium none;
	box-shadow: 0 3px 0 #2d6322;
	display: block;
	font-size: 22px;
	margin-top: 15px;
	padding: 9px 35px;
}
.frmContent tr {
	padding-bottom: 10px;
}
#frmCardNumber .frmLabel {
	padding: 0 10px;
}
#frmCardConfirm .frmLabel {
	padding: 0;
}
